<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test6.amr.com.test6" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".loginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ReviewsPopUp"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemecust" >
        </activity>
        <activity
            android:name=".Add"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View_row"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivityprofile"
            android:theme="@style/AppTheme.StatusBarTransparent" />
    </application>

</manifest>
